{{ define "main" }}
    {{ $tilPosts := where .Site.RegularPages "Params.categories" "intersect" (slice "Today I Learned") }}
    {{ $tilPosts := $tilPosts.ByDate.Reverse }}

    <section class="section-card">
        <header>
            <h2 class="section-term">{{ .Title }}</h2>
            <p class="section-count" style="text-transform: none;">{{ len $tilPosts }} posts</p>
            {{ with .Params.description }}
                <p class="section-description">{{ . }}</p>
            {{ end }}
        </header>

        {{ with .Content }}
            <div class="article-content" style="margin-top: 1.5rem;">
                {{ . }}
            </div>
        {{ end }}
    </section>

    <section class="article-list--compact">
        {{ range $tilPosts }}
            {{ partial "article-list/compact" . }}
        {{ end }}
    </section>

    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "page") }}
{{ end }}
