{{ define "main" }}
    {{ $tilPosts := where .Site.RegularPages "Params.categories" "intersect" (slice "Today I Learned") }}
    {{ $tilPosts := $tilPosts.ByDate.Reverse }}

    <header class="page-header">
        <h1>{{ .Title }}</h1>
        {{ with .Params.description }}
            <div class="page-description">{{ . }}</div>
        {{ end }}
    </header>

    {{ with .Content }}
        <article style="margin-bottom: var(--section-separation);">
            <div class="article-content">{{ . }}</div>
        </article>
    {{ end }}

    <section class="article-list--compact">
        {{ range $tilPosts }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "page") }}
{{ end }}
