{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $notTIL := where .Site.RegularPages "Params.categories" "intersect" (slice "Today I Learned") "==" 0 }}
    {{ $filtered := ($pages | intersect $notHidden | intersect $notTIL) }}

    {{ $pinnedPages := where $filtered "Params.pinned" true }}
    {{ $unpinnedPages := where $filtered "Params.pinned" "!=" true }}

    {{ $pag := .Paginate ($unpinnedPages) }}
    {{- partial "featured.html" . -}}
    <section class="article-list">
        {{ if eq $pag.PageNumber 1 }}
            {{ range $pinnedPages }}
                <span class="article-page">
                    {{ partial "article/pinned-article.html" . }} <!-- Makes pinned article styling work -->
                </span>
            {{ end }}
        {{ end }}
        {{ range $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
