<div class="main-article">
    <div class="article-content">
        <span class="site-description">Feedback</span>
        <form class="feedback-form" style="margin: auto;" netlify netlify-honeypot="anything-else">
            <div class="form-group">
                <input type="text" id="name" name="name" required style="width: 100%; padding: 10px; margin: 10px 0;" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" id="address" name="email-address" required style="width: 100%; padding: 10px; margin: 10px 0;" placeholder="Email">
            </div>
            <div class="form-group">
                <textarea id="comment" name="comment" required style="width: 100%; padding: 10px; margin: 10px 0;" rows="6" placeholder="Comment"></textarea>
            </div>
            <input type="hidden" name="page" value="{{ .Permalink }}">
            <input type="hidden" id="anything-else" name="anything-else" style="display: none;">

            <button type="submit" style="background-color: #007bff; color: white; padding: 10px 20px; border: none; border-radius: 5px;">Submit</button>
        </form>
    </div>
</div>